<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </configSections>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="webconfig@x.com">
        <network host="smtp.noida.eclsys.com" defaultCredentials="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <clear/>
    <add key="Shifts" value="5.0,15.5"/>
    <!--Report hardwirings-->
    <!-- Report 110.11 will display a checkmark against POs containting this label-->
    <add key="SpecialLabelId" value="MP"/>
    <!-- Report 110.11. The heading of the column containing the checkmarks will be this -->
    <add key="SpecialLabelColumnHeading" value="PopPants"/>
    <!--For Report 150.07 Module code for the module K2P will be given here-->
    <add key="K2PModuleCode" value="K2P"/>
    <!--For Report 150.07 Action code for the module K2P will be given here-->
    <add key="K2PActionCode" value="K2P"/>
    <!--For Report 150.08 Module code for the module REW will be given here-->
    <add key="ReworkModuleCode" value="REW"/>
    <!--For Report 40.07 and 40.103 Module code for the module Receiving will be given here-->
    <add key="ReceivingModuleCode" value="REC"/>
    <!--Report R30_08,R30_06 sku_storage_area and carton_storage_area specified-->
    <add key="CartonReserveArea" value="BIR"/>
    <!--Examining area code required by Report R30_03 to show default sku_storage_area-->
    <add key="ExaminingAreaCode" value="EXM"/>
    <!--Report R110_105 ShipDocBoxArea specified-->
    <add key="ShipDocBoxArea" value="ADR"/>
    <!--Report R110_03 WIPBoxArea specified-->
    <add key="WIPAreaForBox" value="PIT"/>
    <!--Report R110_03 Area for canceled inventory-->
    <add key="CancelArea" value="CAN"/>
    <!--Report R110_03 BulkAreaForBox specified-->
    <add key="BulkAreaForBox" value="BLK"/>
    <!--Report R110_03 Area for canceled inventory-->
    <add key="DocArea" value="DOC"/>
    <!--For Report 40.23 Module codes for the module Pull and Locatiing will be given here-->
    <add key="LocatingModuleCode" value="LOC"/>
    <add key="PullingModuleCode" value="PUL"/>
    <add key="MaxRows" value=""/>
    <!--For R10.14 specified the cancel reason code the Pickslip import days-->
    <add key="CancelReasonCode" value="MFC"/>
    <!--For R110.07 specified the no of pickslip import days from today. This is min no. of value-->
    <add key="NoMinPickslipImportDays" value="60"/>
    <!--For R110.07 specified the no of pickslip import days from today. This is max no. of value-->
    <add key="NoMaxPickslipImportDays" value="1800"/>
    <!-- For R130.08 spefified the restocking area -->
    <add key="RestockingArea" value="RST"/>
    <!-- For R150.105 spefified the work type -->
    <add key="WorkType" value="REWORK"/>
    <!-- Report 150.03 will display a count of boxes against the small shipment carrier-->
    <add key="SpecialCarrierId" value="0472"/>
    <add key="PickingArea" value="FPK"/>
    <!--For Report 130.13-->
    <add key="ShelfArea" value="SHL"/>
    <add key="ScrapArea" value="SSS"/>
    <add key="SkuTypeStorageArea" value="SKU"/>
    <!--For Report 130.107-->
    <add key="PickStatusTrnsfrd" value="TRANSFERED"/>
    <!-- Page size, used by reports where paging is implemented -->
    <add key="PageSize" value="200"/>
    <!--For Report 130.18-->
    <add key="ProductionToShelf" value="PSS"/>
    <!--For Report 130.16-->
    <add key="AwaitedToLocate" value="AWL"/>
    <!--For Report 140.02 and its drill down-->
    <add key="RedBoxArea" value="RED"/>
    <add key="AreaForCFDOperation" value="CFD"/>
    <add key="AreaForReworkOperation" value="REW"/>
    <add key="RestockingModuleCode" value="RS"/>
    <!--For Report 140.107 and its drill down-->
    <add key="Pitching" value="PITCHING"/>
    <!-- For Report 40.25 and its drill down-->
    <add key="PullingActionCode" value="PUL"/>
    <add key="LocatingActionCode" value="LOC"/>
    <add key="PiecesPerDay" value="216000"/>
    <add key="AreaAdr" value="ADR"/>
    <add key="PalletLocatingActionCode" value="PLOC"/>
    <add key="BoxPickActionCode" value="PICKINGCARTON"/>
    <!-- For Report 110.05 and its drill down-->
    <add key="PitchingDays" value="14"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4" useGlobalLock="false">
      <listeners>
        <clear/>
        <add name="WebPageTraceListener"
          type="System.Web.WebPageTraceListener, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <!--
        This listener will write all queries to a text file specified by initializeData, e.g. c:\temp\DcmsWeb.log.
        It is useful if you want to have a global view of queries, rather than a per page view.
        It should normally stay commented out. Uncomment only for debugging reasons.
        -->
        <add name="TextFileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\temp\DcmsLive.log"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <!-- 
      Enable tracing for debugging only. If tracing is enabled, then you can see the page trace using the URL
      http://localhost/DcmsWeb/trace.axd 
        -->
    <trace enabled="true" localOnly="false" requestLimit="140" pageOutput="false" traceMode="SortByTime"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5.1">
      <!--<assemblies>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>-->
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.        -->
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
    <roleManager defaultProvider="OracleRoleProvider" enabled="true" cacheRolesInCookie="false">
      <providers>
        <!--<add name="WindowsProvider" type="System.Web.Security.WindowsTokenRoleProvider"/>-->
        <clear/>
        <add name="OracleRoleProvider"
          type="Oracle.Web.Security.OracleRoleProvider, Oracle.Web, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"
          connectionStringName="dcmslive" applicationName=""/>
      </providers>
    </roleManager>
    <pages styleSheetTheme="Default" enableViewState="false" pageBaseType="PageBase" autoEventWireup="false" enableEventValidation="false"
      enableSessionState="false" maintainScrollPositionOnPostBack="false" validateRequest="false" clientIDMode="Static"
      controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="oracle" namespace="EclipseLibrary.WebForms.Oracle" assembly="EclipseLibrary.WebForms"/>
        <add tagPrefix="jquery" namespace="EclipseLibrary.Web.JQuery" assembly="EclipseLibrary.WebForms"/>
        <add tagPrefix="m" namespace="EclipseLibrary.Web.UI.Matrix" assembly="EclipseLibrary.WebForms"/>
        <add tagPrefix="eclipse" namespace="EclipseLibrary.Web.UI" assembly="EclipseLibrary.WebForms"/>
        <!--<add tagPrefix="eclipse" namespace="EclipseLibrary.Web" assembly="EclipseLibrary"/>-->
        <add tagPrefix="eclipse" namespace="EclipseLibrary.Web.SiteStructure" assembly="EclipseLibrary.WebForms"/>
        <!--<add tagPrefix="dcms" namespace="DcmsDatabase.Web" assembly="DcmsDatabase"/>-->
        <add tagPrefix="uc2" src="~/ButtonBar2.ascx" tagName="ButtonBar2"/>
        <add tagPrefix="i" namespace="EclipseLibrary.Web.JQuery.Input" assembly="EclipseLibrary.WebForms"/>
        <add tagPrefix="d" namespace="DcmsDatabase.Web.Selectors" assembly="DcmsDatabase"/>
      </controls>
    </pages>
    <!-- This section is required for calling web services -->
    <siteMap defaultProvider="Dcms">
      <providers>
        <add name="Dcms" type="EclipseLibrary.Web.SiteStructure.AutoSiteMapProvider" securityTrimmingEnabled="true" customAttributes="ReportId,Browsable"
          siteMapRoot="Reports" homePageUrl="Default.aspx"/>
        <add name="ExternalLinksProvider" description="SiteMap provider that reads in .sitemap files."
          type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
          siteMapFile="~/App_Data/ExternalLinks.sitemap"/>
        <!--Sharad 17 Jul 2012: New entry added for Release candidate support-->
        <add name="Rc" type="EclipseLibrary.Web.SiteStructure.AutoSiteMapProvider" securityTrimmingEnabled="false"
          customAttributes="ReportId,Browsable,ChangeLog,Version" siteMapRoot="RC" homePageUrl="Dummy.aspx"/>
        <!--<clear/>-->
        <!--<add name="OracleSiteMapProvider"
          type="Oracle.Web.SiteMap.OracleSiteMapProvider, Oracle.Web, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"
          connectionStringName="dcmslive" applicationName="" securityTrimmingEnabled="true"/>-->
      </providers>
    </siteMap>
    <profile defaultProvider="OracleProfileProvider" enabled="true" automaticSaveEnabled="false">
      <properties>
        <add name="ReportsInNewWindow" type="bool" defaultValue="true"/>
        <add name="FavoriteReports" type="StringSet"/>
        <add name="Theme"/>
        <add name="RecentReports" type="StringSet"/>
      </properties>
      <providers>
        <clear/>
        <add name="OracleProfileProvider"
          type="Oracle.Web.Profile.OracleProfileProvider, Oracle.Web, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"
          connectionStringName="dcmslive" applicationName=""/>
      </providers>
    </profile>
    <xhtmlConformance mode="Strict"/>
    <!--Configures the maximum amount of worker threads to use for the process on a per-CPU basis.
    For example, if this value is 25 on a single-processor server, ASP.NET uses the runtime APIs to set
    the process limit to 25. On a two-processor server, the limit is set to 50.
    The value of this attribute must be equal to or greater than the minFreeThread attribute setting
    in the httpRuntime configuration section.
    The range for this attribute is from 5 through 100. The default is 20.
    -->
    <!--<processModel maxWorkerThreads="100" />-->
    <!--Optional Int32 attribute.
    Specifies the minimum number of free threads to allow execution of new requests.
    ASP.NET keeps the specified number of threads free for requests that require additional threads to complete processing.
    The default is 8.
    -->
    <httpRuntime minFreeThreads="10" requestValidationMode="2.0"/>
    <healthMonitoring enabled="true" heartbeatInterval="0">
      <providers>
        <add name="HealthEmailProvider" type="System.Web.Management.SimpleMailWebEventProvider" to="hvarshney@eclsys.com" from="dcmslive@donotreply.com"
          buffer="true" bufferMode="Notification" subjectPrefix="DCMS Live: An error encountered. "/>
        <add name="OracleWebEventProvider"
          type="Oracle.Web.Management.OracleWebEventProvider, Oracle.Web, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"
          connectionStringName="dcmslive" buffer="true" bufferMode="OracleNotification"/>
      </providers>
      <rules>
        <add name="Mail Event Providers" eventName="All Errors" provider="HealthEmailProvider" profile="Default" minInstances="1" maxLimit="Infinite"
          minInterval="00:00:00" custom=""/>
      </rules>
    </healthMonitoring>
    <!--<webParts>
      <personalization defaultProvider="OraclePersonalizationProvider">
        <providers>
          <clear />
          <add name="OraclePersonalizationProvider" type="Oracle.Web.Personalization.OraclePersonalizationProvider, Oracle.Web, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" connectionStringName="OraAspNetConString" applicationName="" />
        </providers>
      </personalization>
    </webParts>
    <sessionState mode="Custom" customProvider="OracleSessionStateStore">
      <providers>
        <clear />
        <add name="OracleSessionStateStore" type="Oracle.Web.SessionState.OracleSessionStateStore, Oracle.Web, Version=4.122.18.3, Culture=neutral,PublicKeyToken=89b483f429c47342" connectionStringName="dcmslive" />
      </providers>
    </sessionState>-->
    <membership defaultProvider="OracleMembershipProvider">
      <providers>
        <clear/>
        <add name="OracleMembershipProvider"
          type="Oracle.Web.Security.OracleMembershipProvider, Oracle.Web, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"
          connectionStringName="dcmslive" applicationName="" enablePasswordRetrieval="false" enablePasswordReset="true"
          requiresQuestionAndAnswer="true" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7"
          minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <!--<webParts>
      <personalization defaultProvider="OraclePersonalizationProvider">
        <providers>
          <clear/>
          <add name="OraclePersonalizationProvider"
            type="Oracle.Web.Personalization.OraclePersonalizationProvider, Oracle.Web, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"
            connectionStringName="dcmslive" applicationName=""/>
        </providers>
      </personalization>
    </webParts>-->
    <!--<sessionState mode="Custom" customProvider="OracleSessionStateStore">
      <providers>
        <clear/>
        <add name="OracleSessionStateStore"
          type="Oracle.Web.SessionState.OracleSessionStateStore, Oracle.Web, Version=4.122.18.3, Culture=neutral,PublicKeyToken=89b483f429c47342"
          connectionStringName="dcmslive"/>
      </providers>
    </sessionState>-->
  </system.web>
  <location path="Category_10/R10_07.aspx">
    <system.web>
      <authorization>
        <!--<allow users="Eclipse\hvarshney"/>
        <allow users="Eclipse\nmohan"/>
        <deny users="*"/>-->
      </authorization>
    </system.web>
  </location>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.121.1.0" newVersion="4.121.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <connectionStrings>
    <clear/>
    <!--<add name="OraAspNetConString" connectionString=" "/>-->
  <add name="dcmslive" connectionString="Data Source=(DESCRIPTION =     (ADDRESS = (PROTOCOL = TCP)(PORT = 1521))     (CONNECT_DATA =       (SERVER = DEDICATED)       (SERVICE_NAME = dcmsdev)     )   );User ID=dcmslive;Password=dcmslive;Max Pool Size=10" providerName="Oracle.DataAccess.Client"/>
  </connectionStrings>
</configuration>